body{
   margin: 0px;
   font-family:Arial, sans-serif;
    background: gainsboro;
}
.sidebar{
    background: teal;
    float: left;
    width: 350px;
    height: 100%;
    position:fixed;
    top: 0;
}
.sidebar img{
    height: 200px;
    width: 200px;
    border: 5px solid gray;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 80px;

}
.sidebar a{
    display: block;
    color: lightgray;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
.sidebar a:hover{
    color:white;
    font-size: 25px;
}
section{
    margin-left: 350px;
    padding: 15px;
}
#about-section{
    margin-top: 100px;
    font-size: 20px;
}
#about-section h1{
    font-size: 70px;
    font-family: "Arial Rounded MT Bold";
    text-shadow: 2px 2px 2px red;
}
#about-section h1 #fname{
    color: #2F7336;
}
#about-section h1 #mname{
    color: #785137;
}
#about-section h1 #lname{
    color: #a83b38;
}
#about-section h2 {
    font-size: 40px;
    margin-top: -60px;
    color: teal;
}
.main-heading{
    font-size: 40px;
    text-shadow: 0 0 5px teal;
}
.exp-article{
    margin: 30px;
    text-align: center;
    width: 250px;
    display: inline-block;
    box-shadow: 0 0 5px turquoise;
    padding: 10px;
    background-color: #b3f7f7;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s;
}
.exp-article:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
    color: lightgray;
    background-color: teal;
}
.exp-article h2{
    font-family: "Comic Sans MS", sans-serif
}
.exp-article-button{
    font-size: 20px;
    padding: 10px ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: turquoise;
}
.edu-article,.skills-article{
    box-shadow: 0 0 5px black;
    margin: 20px;
    background-color: #b3f7f7;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s;
}
.cert-article{
    box-shadow: 0 0 5px turquoise ;
    margin: 50px;
    text-align: center;
    width: 250px;
    display: inline-block;
    background-color: #b3f7f7;
    border-radius: 20px;
    transition: all 0.5s;
}
.cert-article img{
    border-radius: 50%;
    margin-top: -50px;
    transition: all 0.5s;
}
.edu-article:hover{
    transform: rotateX(40deg) rotateY(5deg);
    cursor: pointer;
    color: lightgray;
    background-color: teal;
}
.skills-article:hover{
    transform: rotateX(-40deg) rotateY(-5deg);
    cursor: pointer;
    color: lightgray;
    background-color: teal;
}
.cert-article:hover{
    transform: scaleY(1.2);
    background-color: teal;
    color: lightgray;
    cursor: pointer;
}

